@model SuperBowlWeb.Models.Pari

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pari</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantMise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantMise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipeMise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipeMise.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
